# .env.example
PORT=3000

# Database
POSTGRES_URI=postgresql://postgres:postgres@localhost:5432/electronic_shop

# Redis Cache
REDIS_URI=redis://localhost:6379

# RabbitMQ
RABBITMQ_URI=amqp://localhost:5672

# MinIO / Object Storage
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=electronic-shop-bucket
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/electronic_shop
CORS_ORIGINS=https://stovash.com,https://www.stovash.com
# ssh root@109.123.245.58

#